@import url(reset.css);
@import url(variables.css);
@import url(sidePanel.css);



* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}